<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="../assets/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <link rel="stylesheet" href="styles/index.css">
    <title>For2Dot</title>
</head>
<body>
    <h2>Hide42 v1.0.0 </h2>
    <div>
        <button onclick="openRoom(false)">Public Open</button>
        <button onclick="openRoom(true)">Private Open</button>
    </div>
    <button onclick="joinRoom()">Join</button>
    <div id="room_list">
        <p>room list</p>
        <ul>
            <% room_list.forEach(room=> { %>
                <a href="/join/<%= room.roomId %>">
                    <%= room.roomId %> (<%= room.user_cnt %> / 4)
                </a>
                <% }); %>
        </ul>
    </div>
    <div id="manual">
        <h2>무선 또는 로컬(lan) 외의 네트워크 환경에서는 플레이가 원활하게 되지 않을 수 있습니다.</h2>
        <h2>현재는 4인 플레이만 가능합니다. (경찰 1 (방장) : 도둑 3) </h2>
        <h2>버그가 많습니다. 침착하게 뒤로가기 누르고 새 게임을 플레이 하시면 됩니다. </h2>
        <img src="/assets/images/keymap.png" alt="keymap" width="100%"/>
        <img src="/assets/images/manual.png" alt="manual" width="100%"/>
    </div>
    <script>
        const roomList = document.querySelector('#room_list');

        function joinRoom() {
            const roomId = prompt("roomId");
            if (roomId == null)
                return;
            window.location.href = `/join/${roomId}`;
        }
        function openRoom(private) {
            window.location.href = private ? "private" : "new";
        }
        function isMobileDevice() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }
        if (isMobileDevice()) {
            alert("PC에서 접속해주세요.");
            window.history.back();
        }

        if (navigator.userAgent.indexOf("Chrome") === -1) {
            alert("우리는 Chrome 브라우저를 사랑합니다.");
            window.history.back();
        }
    </script>
</body>

</html>
