<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>For2Dot</title>
  <link rel="shortcut icon" type="image/ico" href="../assets/images/favicon.ico"/>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser-matter-collision-plugin"></script>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
  <link rel="stylesheet" href="../styles/room.css">
</head>

<body>
  <div id="chat-panel">
    <div id="status-panel" ><h1>For2Dot</h1><span id="ping"></span></div>
    <div>
      <textarea id="messages" disabled></textarea>
    </div>
    <div>
      <input type="text" id="message" size="50">
    </div>
  </div>
  <div id="simple-game">
    <% if (isHost) { %>
      <button id="start" disabled>start</button>
    <% } %>
  </div>
  <script>
    var isHost = "<%= isHost %>" === "true";
    var roomId = "<%= roomId %>";
  </script>
  <script src="/server/matter.js"></script>
  <script type="module" src="/server/app.js"></script>
  <script type="module" src="/client/game.js"></script>
</body>

</html>
