<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>For2Dot</title>
  <link rel="shortcut icon" type="image/ico" href="../assets/images/favicon.ico" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser-matter-collision-plugin"></script>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
  <link rel="stylesheet" href="../styles/room.css">
</head>

<body>
  <!-- left top -->
  <div id="connection-status" class="ab left-top">
    <span id="data-flow-send"></span>
    <span id="data-flow-recv"></span>
    <span id="ping">ping : </span>
  </div>
  <!-- right top -->
  <div id="game-progress" class="ab right-top">
    <h1 id="left-time"></h1>
    <div id="generators"></div>
    <div id="imprisoned"></div>
  </div>

  <!-- right bottom -->
  <div id="chat-panel" class="ab right-btm" onmouseover="focused()" onmouseout="focused()" >
      <div id="messages" disabled></div>
      <input type="text" id="message" onfocus="focused()" onblur="focused()" size="50" placeholder="메세지 입력 후 Enter"/>
  </div>

  <!-- center -->
  <% if (isHost) { %>
    <button id="start" disabled>start</button>
  <% } %>

  <div id="simple-game"></div>
  <script>
    var isHost = "<%= isHost %>" === "true";
    var roomId = "<%= roomId %>";
    let toggleFocus = false
    function focused(){
      toggleFocus = !toggleFocus;
      if (toggleFocus)
      {
        document.getElementById("messages").style.backgroundColor = `#ffffffa0`;
        document.getElementById("messages").style.color = `#000`;
        document.getElementById("message").style.backgroundColor = `#ffffffa0`;
        document.getElementById("message").style.color = `#000`;
      }
      else
      {
        document.getElementById("messages").style.backgroundColor = `#f0f8ff05`;
        document.getElementById("messages").style.color = `#00000005`;
        document.getElementById("message").style.backgroundColor = `#f0f8ff05`;
        document.getElementById("message").style.color = `#00000005`;
      }
    }
  </script>
  <script src="/client/visibility_polygon.js"></script>
  <script src="/server/matter.js"></script>
  <script type="module" src="/server/app.js"></script>
  <script type="module" src="/client/game.js"></script>
</body>

</html>