<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WebRTC Text Chat</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser-matter-collision-plugin"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    #hahah {
      position: absolute;
    }
    h1 {
      color: aliceblue;
    }
  </style>
</head>

<body>
  <div id="hahah">
    <h1>WebRTC Text Chat</h1>
    <div>
      <textarea id="messages" rows="10" cols="50" disabled></textarea>
    </div>
    <div>
      <input type="text" id="message" size="50">
    </div>
  </div>
  <div id="simple-game"></div>
  <script>
    var isHost = "<%= isHost %>" === "true";
    var roomId = "<%= roomId %>";
  </script>
  <script type="module" src="/server/app.js"></script>
  <script type="module" src="/client/game.js"></script>
</body>

</html>